{% extends 'base.html.twig' %}


{% block body %}

<h1>Bienvenue dans ce blog</h1>

<div class="last_article">
    <h2 class="title">Dernière Article</h2>
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">
            Ecrit le
            {{article.createdAt | date('d/m/Y') }}
            à
            {{article.createdAt | date('H:i') }}
            dans la Catégorie :
            {{ article.category.title  }}</div>
        <div class="content">
            <img src="{{article.image}}" alt="">
            <p>
                {{article.content | raw }}
            </p>
            <a href="{{ path('show', {'id' : article.id}) }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
</div>

{% endblock %}